/bin/
/dist/
/build/
/.labcontainers/
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
node_modules/
*.tgz
uv.lock
images/ubuntu-single-nic/labcontainers-guest
images/windows-server-2022/*.qcow2
images/windows-server-2022/labcontainers-guest
images/windows-server-2022/packer/output/
images/windows-server-2022/packer/packer_cache/
